html, body{
    height:100%;
    width:100%;
}
body { 
    height:100%;
    width:100%;

    font-family: 'Montserrat', sans-serif;
}
a {
  outline:none !important;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.interactive{
  cursor: pointer;
}

.jumbotron_project{
  padding-top: 5px;
  padding-bottom: 5px;
 
}

.topic{
  color: #d87a61;
  font-family: 'Roboto Slab', serif;
}

.my-auto{
  margin-top: auto;
  margin-bottom: auto;
}

/*Navbar section */
.navbar{
  transition:500ms ease;
  background:transparent;
}
.navbar.scrolled{
  background:#000;
}
.active {
  color: antiquewhite !important;
}

/*Home section */
#home
{
    background-image: url("https://codetheweb.blog/assets/img/posts/css-advanced-background-images/mountains.jpg");
    height: 100%;
}

#home h1{
position: relative;
top: 40%;
font-family: 'Roboto Slab', serif;
color: antiquewhite;
}

.description{
  position: absolute;
  color: antiquewhite;
  font-family: 'Roboto Slab', serif;
  bottom: 10%;
 }

/*Icons */
.social
{
  list-style-type: none;
  position: absolute;
  bottom: 5%;
}
.social li {
  display: inline-block;
  font-size:calc(30px + .5vw);
  margin-right:30px;
}

#socialArrow
{
list-style-type: none;
position: absolute;
bottom: 0%;
font-size:calc(30px + .5vw);
}

.socialColor a:link {

  color: white;
}

.socialColor a:visited {

  color: white;
}

.socialColor a:hover {
  color: antiquewhite;
  transition: 0.5s;
  
}

/*About section */
#about{

  padding-top: 50px;
  padding-bottom: 50px;
}

/*Skills section */
#skills{

  padding-top: 60px;
  padding-bottom: 50px;
}
 
.img-logo{
  max-width:90px;
  align-self: center;
  margin-right: 12px;
  margin-bottom: 12px;
  transition: transform .2s;
}

@media only screen and (max-width: 768px) {
  .img-logo {
    max-width:60px;
    margin-right: 6px;
  }
}

.img-logo:hover {
  transform: scale(1.2);
}

.containerFlex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


/*Projects section */
#projects{
min-height: 500px;

padding-top: 60px;
padding-bottom: 50px;
}

.projectContainer{
  background-color: antiquewhite;
}

.projectGifAndMagnifer{
  position: relative;
  }
  
  .projectGifAndMagnifer:hover{
    cursor: pointer;
  }

.projectGifOpacity
{
opacity: 0.3;
transition: 0.5s;
}

.projectGif{
  transition: 0.5s;
  
}

.magnifier{
  position: absolute;
    left: 50%;
    top: 50%;
    margin-top:-25px;
    margin-left:-25px;

    opacity: 0;
    transition: 0.5s;
}

.magnifierShow{
  opacity: 1;
  transition: 0.5s;
}

.card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: .5rem;
}

/*Modal section*/
.bImg{
  
  max-height: 500px;
}

.sImg{
  cursor: pointer;
  width: auto;
  max-height: 100%;
  display: block;
}

.techBadges{
  text-align: center;
  margin-bottom: 8px;
}

.badgeMine{
  background-color: #eb9e78;
}

/*Footer section */
footer{
  background-color: black;
  color: antiquewhite;
}

.mailFooter
{
  font-size:calc(20px + .5vw);
  vertical-align: middle;
}

#upArrow{
  font-size:calc(30px + .5vw);
}
