html, body{
    height:100%;
    width:100%;
}
body { 
    height:100%;
    width:100%;

    font-family: 'Roboto Slab', serif;
}
a {
  outline:none !important;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.interactive{
  cursor: pointer;
}

.jumbotron_project{
  padding-top: 5px;
  padding-bottom: 5px;
}

/*Navbar section */
.navbar{
  transition:500ms ease;
  background:transparent;
}
.navbar.scrolled{
  background:#000;
}
.active {
  /* background:rgb(250, 212, 0);
  border-radius: 25%; */
  color: antiquewhite !important;
}




/*Home section */
#home
{
    background-image: url("https://codetheweb.blog/assets/img/posts/css-advanced-background-images/mountains.jpg");
    height: 100%;
    /* min-height: 500px; */
}

#home h1{
position: relative;
top: 40%;
font-family: 'Roboto Slab', serif;
color: antiquewhite;
}

.opis{
  position: absolute;
  color: antiquewhite;
  font-family: 'Roboto Slab', serif;
  bottom: 10%;
 }


 
/*Icons */
.social
{

  list-style-type: none;
  position: absolute;
  bottom: 5%;
}
.social li {
  display: inline-block;
  font-size:calc(30px + .5vw);
  margin-right:30px;
}

#socialArrow
{
list-style-type: none;
position: absolute;
bottom: 0%;
font-size:calc(30px + .5vw);
}

.socialColor a:link {

  color: white;
}

.socialColor a:visited {

  color: white;
}

.socialColor a:hover {
  color: antiquewhite;
  transition: 0.5s;
  
}


/*About section */
#about{
  background-color: rgb(70, 84, 90);

  padding-top: 50px;
  padding-bottom: 50px;
}


/*Skills section */
#skills{
  background-color: rgb(106, 172, 31);

  padding-top: 60px;
  padding-bottom: 50px;
}
 
.img-logo{
  max-width:100px;
  align-self: center;
}


/*Projects section */
#projects{
background-color: rgb(29, 156, 135);
min-height: 500px;

padding-top: 60px;
padding-bottom: 50px;
}



/*Footer section */
footer{
  background-color: black;
  color: antiquewhite;
}

.mailFooter
{
  font-size:calc(20px + .5vw);
  vertical-align: middle;
}

#upArrow{
  font-size:calc(30px + .5vw);
}

  /* @media (max-width: 300px) {

    .icon {
     font-size: 12px;
    }
 }

  */